[submodule "components/ESP32_I2C_Adafruit_STEMMA_Soil_Sensor"]
	path = components/ESP32_I2C_Adafruit_STEMMA_Soil_Sensor
	url = https://github.com/Krzyshio/ESP32_I2C_Adafruit_STEMMA_Soil_Sensor.git
[submodule "components/ssd1306"]
	path = components/ssd1306
	url = https://github.com/Krzyshio/esp-idf-ssd1306
[submodule "components/esp32-dht11"]
	path = components/esp32-dht11
	url = https://github.com/lcarnevale/esp32-dht11
